.selected{
    border: 1px solid red;
    background-color: gray;
    color: burlywood;
    padding: 8px;
    margin: 5px;
    width: 20px;
 border-radius: 20px;
}
.checked{
      background-color: green;
}

ul li {
    float: left;
}
ul{
    list-style: none;
}
.previous, .next{
    width: 60px;
padding: 4px;

}